/*order ui css*/
#request {
	margin: 5px;
}

#response {
	margin: 5px;
	/*display: none;*/
}

#toolbar-uuid {
  padding: 5px;
}

#toolbar-kid {
  padding: 10px;
}

#uuid {
	width: 300px;
	height: 20px;
}

#kid {
	width: 300px;
	height: 20px;	
}

.stylecls
{
border-collapse:collapse;
}

.stylecls, .styletd
{
border:1px solid #6D7B8D;
padding:7px;
}

.stylehd {
	border:1px solid #6D7B8D;
	padding:7px;
	font-weight: bold;
	background-color: #cccccc;
}

.styleth {
	border:1px solid #6D7B8D;
	background: #e8bc62;
	padding:7px;
	color: #1C94C4;
}